*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
    background-color: blue;
    height:10vh;
    text-align:center;
}

main{
    background:salmon;
    height:90vh;
    display:flex;
}

section{
    
}